body {
	font-family: 'Segoe UI Light','Segoe WP Light','wf_segoe-ui_light','wf_segoe-ui_normal','Segoe UI','Segoe WP',Helvetica,Tahoma,Arial,sans-serif;
	margin-left: 5em;
}
h1 {
	font-size: x-large;
	//color: rgb(54, 54, 54);
	//margin-top: 28px;
	//margin-bottom: 30px;
}
p {
	color: rgb(30, 30, 30);
	font-size: 16px;
	//line-height: 24px;
	padding: 0;
}
strong {
	font-weight: bold;
}

