body {
	font-family: 'Segoe UI','Segoe WP',Helvetica,Tahoma,Arial,sans-serif;
	margin-right: 5em;
	margin-left: 4em;
	margin-top: 2em;
}
nav a {
	text-decoration: none;
}

h1 {
	font-size: x-large;
	//color: rgb(54, 54, 54);
	//margin-top: 28px;
	//margin-bottom: 30px;
}
p {
	color: rgb(30, 30, 30);
	font-size: 16px;
	//line-height: 24px;
	padding: 0;
}
strong {
	font-weight: bold;
}
#macros {
	border-collapse: collapse;
}
#macros tr td a {
	text-decoration: none;
}
#macros tr {
	border: 1px black;
}
#macros th {
	text-align: left;
	background-color: #dadada;
	padding: 10px 5px;
}
#macros td {
	vertical-align: top;
	text-align: left;
	background-color: #f4f4f4;
	border-bottom: 1px solid LightGrey;
	padding: 10px 5px;
}
